<!-- Flippable card -->
@if (flippable) {
    <!-- Front -->
    <div class="erp-card-front">
        <ng-content select="[erpCardFront]"></ng-content>
    </div>

    <!-- Back -->
    <div class="erp-card-back">
        <ng-content select="[erpCardBack]"></ng-content>
    </div>
}

<!-- Normal card -->
@if (!flippable) {
    <!-- Content -->
    <ng-content></ng-content>

    <!-- Expansion -->
    @if (expanded) {
        <div class="erp-card-expansion" [@expandCollapse]>
            <ng-content select="[erpCardExpansion]"></ng-content>
        </div>
    }
}
