:host {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo sutil para los campos inválidos */
.mat-mdc-form-field.invalid .mat-mdc-form-field-outline {
    border-color: #ef4444 !important;
}

input.ng-invalid.ng-touched,
mat-select.ng-invalid.ng-touched {
    border-color: #ef4444;
}

button {
    transition: all 0.3s ease;
}
